[Unit]
Description=Wifi configuration daemon
Wants=network-online.target
After=network-online.target syslog.target

[Service]
Type=simple
User=wifi_conf
Group=wifi_conf
ExecStart=/usr/local/bin/wifi_conf_daemon
Environment=WIFI_CONF_SOCKET=/var/run/wifi_conf/wifi_conf.socket
SyslogIdentifier=wifi_conf
StandardOutput=syslog
StandardError=syslog
Restart=no

[Install]
WantedBy=multi-user.target