[Unit]
Description=Wifi configuration daemon
Wants=network-online.target
After=network-online.target syslog.target

[Service]
Type=simple
User=wifi_conf
Group=wifi_conf
WorkingDirectory=/usr/bin/wifi_conf/
ExecStart=/usr/bin/wifi_conf/wifi_conf_daemon.py
Environment=WIFI_CONF_SOCKET=/var/run/wifi_conf/wifi_conf.socket
SyslogIdentifier=wifi_conf
StandardOutput=syslog
StandardError=syslog
Restart=no

[Install]
WantedBy=multi-user.target